node_modules/*
package-lock.json
database.sql
src/controllers/productController.ts
src/models/product.ts
src/routes/productRoutes.ts
src/services/productService.ts
src/attachment/*
src/log/*
dist/*
.env
src/data/*
src/data/pdf/*
src/data/error/*
